name: Continuous Integration
on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        java: [6, 7, 8, 9, 10, 11, 12, 13]
    steps:
    - name: Setup java
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Checkout
      uses: actions/checkout@v2
    - id: Build
      run: ./gradlew build
