name: Nightly
on:
  schedule:
    - cron: '45 0 * * *'
jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-10.15]
        java: [8, 9, 10, 11, 12, 13]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Setup java
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Checkout
      uses: actions/checkout@v2
    - id: Build
      run: ./gradlew build
